* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1; /* тримає квадратну форму */
    height: auto;
}

.title1 {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 50px;
}

.no {
    margin-left:200px;
}

.pp {
    display: flex;
    gap: 10px;
}

.pp1 {
    margin-left: 270px;
    margin-top: 20px;
}

.pp2 {
    margin-left: 210px;
    margin-top: 20px;
}

.pp3 {
    margin-left: 210px;
    margin-top: 20px;
}

.pop {
    display: flex;
}

.cnop {
    margin-left: 350px;
    margin-top: 40px;
    background-color: red;
    padding: 6px 20px;
    color: white;
    font-weight: 500;
}

.cnop1 {
    margin-left: 430px;
    margin-top: 40px;
    background-color: red;
    padding: 6px 20px;
    color: white;
    font-weight: 500;
}

.cnop2 {
    margin-left: 430px;
    margin-top: 40px;
    background-color: red;
    padding: 6px 20px;
    color: white;
    font-weight: 500;
}



/* @media only screen and (min-wigth: 600px){
    
}

@media only screen and (min-wigth: 900px){
    
}


@media only screen and (max-wigth: 600px){

} */

@media (max-width: 480px) {
    .responsive-img {
      max-width: 200px;
    }
  }
  
  /* Для середніх мобілок, 481px–768px */
  @media (min-width: 481px) and (max-width: 768px) {
    img {
      max-width: 250px;
    }
  }
  

  @media (min-width: 768px) and (max-width: 1023px) {
    .imgf img {
        max-width: 280px;
        margin: 10px;
        margin-bottom: 180px;
        display: block;

      }
      .imgf {
        display: flex;
  flex-direction: column; 
  align-items: center;     
  justify-content: center; /* опціонально: по центру вертикалі */
  min-height: 100vh;
      }

      .no {
      margin: 10px;
      
    }
  
      h1 {
          text-align: center;
      }
  
      .pp {

      }
      
      .pp1 {
        margin-left: 260px;
        margin-top: -910px;
        font-size: 14px;
      }
      
      .pp2 {
        margin-top: -510px;    
        font-size: 14px;
        margin-right: -10px;
        margin-left: -260px;
      }
      
      .pp3 {
        margin-left: 10px;
        margin-top: -100px;
        font-size: 14px;
        margin-left: -240px;
      }
  
      .cno1 {
          margin-top: -110px;
          margin-bottom: 10px;
          background-color: red;
          padding: 3px 15px;
          color: white;
          font-size: 15px;
          font-weight: 500;
      }

      .cno2 {
        margin-top: -100px;
        margin-bottom: 5px;
        background-color: red;
        padding: 3px 15px;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }

    .cno3 {
        margin-top: -90px;
        margin-bottom: px;
        background-color: red;
        padding: 3px 15px;
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
      
      .cnop {
          /* margin-left: px;
          margin-top: -1010px;
          background-color: red;
          padding: 2px 10px;
          color: white;
          font-weight: 500;
          font-size: 15px; */
          visibility: hidden;
      }

      
      
      .cnop1 {
        /* margin-left: -70px;
        margin-top: -540px;
        background-color: red;
        padding: 2px 10px;
        color: white;
        font-weight: 500;
        font-size: 15px; */
        visibility: hidden;
      }
      
      .cnop2 {
        /* margin-left: -69px;
        margin-top: -90px;
        background-color: red;
        padding: 2px 10px;
        color: white;
        font-weight: 500;
        font-size: 15px; */
        visibility: hidden;
      }
    } 






  
  @media (min-width: 1024px) and (max-width: 1200px) {
    
    .cno1 {
        visibility: hidden;
    }
    .cno2 {
        visibility: hidden;
    }
    .cno3 {
        visibility: hidden;
    }
    
    
    img {
        max-width: 280px;
        margin: 10px;
      }
      .imgf {
        text-align: center;
      }

      .no {
      margin: 10px;
      
    }
  
      h1 {
          text-align: center;
      }
  
      .pp {
          display: flex;
          gap: 10px;
      }
      
      .pp1 {
          margin-left: 70px;
          margin-top: 5px;
          font-size: 14px;
      }
      
      .pp2 {
        margin-left: 50px;
        margin-top: 5px;
        font-size: 14px;
      }
      
      .pp3 {
        margin-left: 50px;
        margin-top: 5px;
        font-size: 14px;
      }
  
      .pop {
          display: flex;
      }
      
      .cnop {
          margin-left: 170px;
          margin-top: 14px;
          background-color: red;
          padding: 2px 10px;
          color: white;
          font-weight: 500;
          font-size: 15px;
      }
      
      .cnop1 {
        margin-left: 210px;
        margin-top: 14px;
        background-color: red;
        padding: 2px 10px;
        color: white;
        font-weight: 500;
        font-size: 15px;
      }
      
      .cnop2 {
        margin-left: 250px;
        margin-top: 14px;
        background-color: red;
        padding: 2px 10px;
        color: white;
        font-weight: 500;
        font-size: 15px;
      }
  }
  
  